@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   list-style: none;
   text-decoration: none;
}

html {
   scroll-behavior: smooth;
}

.full__page {

   background-image: url(../images/bg-img.png);
   background-size: cover;
}

.container {
   max-width: 1728px;
   margin: 0 auto;
}

.header {
   padding-top: 77px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
   z-index: 2;
}

.header .header__logo {
   font-family: 'Bonheur Royale';
   font-style: normal;
   font-weight: 400;
   font-size: 36px;
   line-height: 42px;
   text-transform: capitalize;
   background: linear-gradient(269.78deg, rgba(255, 255, 255, 0) 0.19%, #FFFFFF 91.6%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
   text-fill-color: transparent;
}

.navbar ul {
   display: flex;
   align-items: center;
   gap: 75px;
}

.navbar ul li:last-child {
   padding-left: 150px;
}

.navbar ul li a {
   display: inline-block;
   font-family: 'Bonheur Royale';
   font-style: normal;
   font-weight: 400;
   font-size: 36px;
   line-height: 42px;
   text-transform: capitalize;
   color: #FFFFFF;
   cursor: pointer;
   transition: all 0.1s linear;
}

.navbar ul li a:hover {
   transform: scale(1.1);
   color: #E2603B;
}

.home {
   position: relative;
}

.main {
   background-image: url(../images/cacau__img.png);
   background-repeat: no-repeat;
   background-position: top right;
   background-size: 1077px;
   height: 1101px;
}

.main__text h2 {
   margin-top: 174px;
   font-family: 'Bonheur Royale';
   font-style: normal;
   font-weight: 400;
   font-size: 64px;
   line-height: 74px;
   letter-spacing: 0.25em;
   text-transform: capitalize;
   color: #FFFFFF;
}

.main__text h1 {
   font-family: 'Bonheur Royale';
   font-style: normal;
   font-weight: 400;
   font-size: 288px;
   line-height: 334px;
   letter-spacing: 0.055em;
   text-transform: capitalize;
   color: #F9E0D9;
}

.btn {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 36px;
   text-transform: capitalize;
   color: #FFFFFF;

   background: linear-gradient(90deg, #E2603B 4.22%, #89393B 100%);
   box-shadow: inset 21px 13px 12px #89393B;
   border-radius: 0px 80px;
   padding: 31px 58px 22px 59px;
   border: none;
   transition: all 0.4s ease;
   cursor: pointer;
}

.btn:hover {
   border-radius: 80px 0px;
}

.btn:active {
   transform: scale(0.9);
}

.about{
   margin-top: 186px;
}
.about__boxs {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.box-2{
   margin-left: 154px;
}
.box-2 h3 {
   font-family: 'Bonheur Royale';
   font-style: normal;
   font-weight: 400;
   font-size: 48px;
   line-height: 108px;
   letter-spacing: 0.055em;
   text-transform: capitalize;
   color: #FFFFFF;
}

.box-2 h1 {
   font-family: 'Bonheur Royale';
   font-style: normal;
   font-weight: 400;
   font-size: 144px;
   line-height: 167px;
   text-transform: capitalize;
   color: #FFFFFF;
}

.box-2 p {
   font-family: 'Bonheur Royale';
   font-style: normal;
   font-weight: 400;
   font-size: 36px;
   line-height: 42px;
   letter-spacing: 0.055em;
   text-transform: capitalize;
   color: #FFFFFF;
   margin-top: 22px;
   margin-bottom: 56px;
}

/* chocolate  */

#chocolate .chocolate__text ul li h3 {
   font-family: 'Bonheur Royale';
   font-style: normal;
   font-weight: 400;
   font-size: 48px;
   line-height: 56px;
   letter-spacing: 0.13em;
   text-transform: capitalize;
   color: #FFFFFF;
}
#chocolate .chocolate__text ul li p {
   font-family: 'Bonheur Royale';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 28px;
   text-transform: capitalize;
   color: #FFFFFF;
   width: 363px;
}
#chocolate .chocolate__text ul li {
   padding-bottom: 98px;
}
#chocolate {
   margin-top: 433px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
#chocolate__img img {
   width: 639px;
   height: 639px;
}
#chocolate__text .number {
   font-family: 'Bonheur Royale';
   font-style: normal;
   font-weight: 400;
   font-size: 64px;
   line-height: 74px;
   text-transform: capitalize;
   color: #FFFFFF;
}
#chocolate__text:last-child ul li {
   padding-bottom: 85px;
}